<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:value="${post.title}"></title>
</head>
<body>
<div th:insert="header">...</div>
<h3 th:text="${post.title}"></h3>
<p th:text="${post.getAnons()}"></p>
<br>
<p th:text="${post.full_text}"></p>
<br>
<p th:text="${post.user.username}"></p>

<br>
<p th:text="${post.movie.name}"></p>
</body>
</html>