<!DOCTYPE HTML>
<!--<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Все пользователи</h1>
<a href="/user/filter">Поиск пользователей</a>
<a href="/user/add">Добавить пользователя</a>
<div th:each="el : ${users}">
    <h3 th:text="${el.nickname}"></h3>
    <p th:text="${el.birthdate}"></p>
    <p>
        <a th:href="'/user/edit/'+${el.getId()}">Редактировать</a>
        <a th:href="'/user/show/'+${el.getId()}">Посмореть</a>
        <a th:href="'/user/del/'+${el.getId()}">Удалить</a>
    </p>
</div>
</body>
</html>