<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add movie</title>
</head>
<body>
<form th:action="${'/movie/add'}" method="post">
  <input type="text" name="name" placeholder="Введите имя"/>
  <input type="date" name="release_date" placeholder="Введите дату выпуска"/>
  <input type="number" name="rating" placeholder="Введите рейтинг"/>
  <input type="number" name="series_amount" placeholder="Введите кол-во просмотров"/>
  <input type="number" name="comments_amount" placeholder="Введите количество комметариев"/>
  <br>
  <button type="submit">Добавить кино/сериал</button>
</form>
</body>
</html>