<!DOCTYPE html>
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<html lang="en">
<head>
    <title>Movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="header">...</div>
<div class="w-full max-w-xs">
    <form th:action="${'/movie/edit/'+movie.getId()}" method="post"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <label>
            Название:
            <input type="text" name="name" placeholder="Введите название кино" th:value="${movie.name}"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </label>
        <br>
        <label>
            Дата выпуска:
            <input type="date" name="release_date" placeholder="Введите дату выпуска" th:value="${movie.release_date}"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
        </label>
        <br>
        <label>
            Рейтинг:
            <input type="number" name="rating" placeholder="Введите рейтинг" th:value="${movie.rating}"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
        </label>
        <br>
        <label>
            Количество комметариев:
            <input type="number" name="series_amount" placeholder="Введите количество комметариев"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   th:value="${movie.comments_amount}"/>
        </label>
        <br>
        <label>
            Количество серий:
            <input type="number" name="comments_amount" placeholder="Введите кол-во просмотров"
                   th:value="${movie.series_amount}"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
        </label>
        <br>
        <button type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Редактировать кино/сериал
        </button>
    </form>
</div>
</body>
</html>