<!DOCTYPE html>
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<html lang="en">
<head>
   <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <div th:insert="header">...</div>
    <div style="width: 50%" class="tenor-gif-embed" data-postid="18438923" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%"><a href="https://tenor.com/view/jrr-gif-18438923">Jrr GIF</a>from <a href="https://tenor.com/search/jrr-gifs">Jrr GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>
</html>