<!DOCTYPE html>
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<html lang="en">
<head>
   <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <div th:insert="header">...</div>
    <div style="height: 50%" class="tenor-gif-embed" data-postid="15070546" data-share-method="host" data-aspect-ratio="1" data-width="50%"><a href="https://tenor.com/view/my-dudes-frog-its-wednesday-gif-15070546">My Dudes Frog GIF</a>from <a href="https://tenor.com/search/my+dudes-gifs">My Dudes GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>
</html>