<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR/ADMISSION workspace</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<div th:insert="header">...</div>
<body>
<div class="w-full max-w-xs">

    <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
       th:href="'/document/files/'+${document.fileName}">Скачать документ</a>
    <form th:object="${summary}" th:action="${'/hr/editor/add'}" method="post">
        <h1 class="font-bold" th:value="${username}"></h1>
        <label>
            Оценка:
            <input th:field="*{mark}" type="number" name="mark" placeholder="Введите оценку" max="5" min="2"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </label>
        <div style="color: red" th:if="${#fields.hasErrors('mark')}" th:errors="*{mark}"></div>
        <br>
        <label> Предмет:
            <select th:field="*{subject}" required>
                <option th:each="sub : ${subjects}" th:text="${sub.name}" th:value="${sub.id}"></option>
            </select>
        </label>
        <div style="color: red" th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></div>
        <br>
        <button type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Добавить оценку
        </button>
    </form>
    <div class="overflow-x-visible relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th class="py-3 px-6">Номер оценки</th>
                <th class="py-3 px-6">Предмет</th>
                <th>Оценка</th>
            </tr>
            </thead>

            <tbody class="uppercase text-gray-900 dark:text-white">

            <tr th:each="sum,iterationstatus :${summaries}">
                <td class="py-4 px-6" th:text="${iterationstatus.count}">1</td>
                <td class="py-4 px-6" th:text="${sum.getSubject().getName()}"></td>
                <td class="px-auto"><input th:value="${sum.getMark()}" type="number" th:id="${sum.getId()}"
                                         name="add1" max="5" min="2"
                                         class="border-none shadow appearance-none border rounded w-20 py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr class="font-semibold text-gray-900 dark:text-white">
                <th scope="row" class="py-3 px-6 text-base">Средний балл</th>
                <td></td>
                <td th:text="${marks_average}"></td>
            </tr>
            </tfoot>
        </table>
    </div>
    <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
       th:href="'/hr/editor/'+${document.getId()} + '/export'">Экспорт результатов</a>

    <div class="shadow-lg rounded-lg overflow-hidden">
        <div class="py-3 px-5 bg-gray-50">Успеваемость</div>
        <canvas class="p-10" id="chartRadar"></canvas>
    </div>


</div>
<script>
    $('input').bind('change paste keyup', function () {
        console.log("input event fired" + " " + $(this).attr("id"));
        var url = "/hr/editor/update?summary=" + $(this).attr("id") + "&mark=" + $(this).val().toString();
        console.log(url);

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", url, true); // true for asynchronous
        xmlHttp.send(null);
    });
</script>

<script th:inline="javascript">
    var subjects = /*[[${subjects_name}]]*/;
    var marks = /*[[${marks}]]*/;
</script>


<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart radar -->
<script>
    const dataRadar = {
        labels: subjects,
        datasets: [
            {
                label: "Успеваемость",
                data: marks,
                fill: true,
                backgroundColor: "rgba(54, 162, 235, 0.2)",
                borderColor: "rgb(54, 162, 235)",
                pointBackgroundColor: "rgb(54, 162, 235)",
                pointBorderColor: "#fff",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgb(54, 162, 235)",
            },
            {data: [2]}
        ],
    };

    const configRadarChart = {
        type: "radar",
        data: dataRadar,
        options: {},
    };

    var chartBar = new Chart(
        document.getElementById("chartRadar"),
        configRadarChart
    );
</script>
</body>
</html>